deepspeech==0.1.1
foolbox==2.3.0
interval==1.0.0
Keras==2.3.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
numpy==1.17.2
openpyxl==2.6.4
pandas==0.23.4
Pillow==5.2.0
scikit-image==0.15.0
scikit-learn==0.21.3
scipy==1.1.0
six==1.11.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
tqdm==4.36.1
